* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #696767;
}

.logo-container img {
    width: 150px;
    height: 70px;
}

.logo-container img:hover {
    cursor: pointer;
}

.options-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 400;
}

.options-container h4,
.profile-container h4 {
    font-weight: 400
}

.options-container h4 {
    cursor: pointer;
}

.profile-container h4 {
    cursor: pointer;
    color: black;
    font-weight: 700;
    padding: 0.7rem;
    border-radius: 50px;
    transition: 0.2s ease;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-container img {
    width: 18px;
    height: 18px;
}

.profile-img {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: none;
    border: 2px solid whitesmoke;
    background-color: white;
}

.profile-img:hover {
    box-shadow: 1.5px 1.5px 0px 0px rgb(212, 211, 211);
}

.profile-img img {
    width: 25px;
    height: 25px;
}

.profile-container h4:hover {
    background-color: rgba(211, 202, 202, 0.863);
}

.earth-img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 10px rgba(211, 202, 202, 0.863);
    border-radius: 50px;
}

/* sub header */
.sub-header-container {
    width: 60%;
    height: 80px;
    margin: 15px auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 12px 1px rgba(211, 202, 202, 0.863);
    cursor: pointer;
}

.sub-header-container p {
    margin-top: -5px;
    font-size: 1.3rem;
    color: #696767;
}

.sub-header-container h6 {
    margin-top: 16px;
}


.search-destination,
.check-in,
.check-out,
.who {
    width: 25%;
    padding-left: 1.5rem;
    border-radius: 50px;
}

.who {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.searchIcon {
    width: 35px;
    height: 35px;
    margin-top: 22px;
}

.search-destination:hover,
.check-in:hover,
.check-out:hover,
.who:hover {
    background-color: rgba(211, 202, 202, 0.863);
}


/* filter section */

.filter-icons {
    display: flex;
    align-items: center;
    width: 65rem
}


.left-button img {
    width: 35px;
    height: 35px;
}

.left-button img:hover {
    cursor: pointer;
}

/* icon container */
.icons {
    display: flex;
    gap: 2rem;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.icons::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.icons {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.filter-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 7rem;

}

.icon-container {
    transition: transform 0.7s ease-in-out;
}

.icon-container:hover {
    cursor: pointer;
}

.icon-container img {
    height: 40px;
    width: 40px;
}

.right-button img {
    width: 35px;
    height: 35px;
}

.right-button img:hover {
    cursor: pointer;
}

.filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid rgb(229, 226, 220);
}

.filter:hover {
    cursor: pointer;
}

.filter img {
    width: 18px;
    height: 18px;
}

.filter p {
    font-weight: 700;
}

/* tax styling */
.tax {
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid rgb(229, 226, 220);
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-label {
    font-weight: 500;
}

/* hero section */
.empty-hero-section {
    height: 340px;
}

.hero-section-container {
    padding: 1.5rem 8.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;

}

.hero-section-items {
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
}


.hero-section-item-img-container {
    display: flex;
    width: 340px;
    height: 330px;
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hero-section-item-img-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hero-section-item-img-container {
    -ms-overflow-style: none;
    /*IE and Edge */
    scrollbar-width: none;
    /*Firefox*/
}

.hero-section-item-img-container img {
    width: 340px;
    height: 330px;
    border-radius: 9px;
    object-fit: cover;
}

.hero-section-items {
    position: relative;
    padding: 0.5rem 0rem 0rem 0.3rem;
    margin-bottom: 1.5rem;
}

.hero-section-items h6 {
    padding: 0.3rem 0rem 0rem 0.5rem;
    margin-bottom: 1px;
}

.hero-section-items p {
    padding: 0rem 0rem 0rem 0.5rem;
    margin-bottom: 1px;
}

#loading-message {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.hide {
    display: none;
}

/* card image arrows */
.left-button-on-img {
    position: absolute;
    top: 162px;
    left: 15px;
    z-index: 1;

}

.left-button-on-img img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 12px;
    background-color: white;
    transition-duration: 0.3s;
    padding: 4px;
}


.right-button-on-img {
    display: none;
    position: absolute;
    top: 162px;
    right: 15px;
    z-index: 1;
    border-radius: 12px;
}

.right-button-on-img img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: white;
    border-radius: 12px;
    transition-duration: 0.3s;
    padding: 4px;
}

.left-button-on-img img:hover,
.right-button-on-img img:hover {
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.map-container {
    position: fixed;
    width: 10%;
    height: 60px;
    margin: auto;
    border-radius: 12px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100;
    bottom: 50px;
    left: 45%;
    cursor: pointer;
    transition-duration: 0.2s;
}

.map-container:hover {
    transition-duration: 0.2s;
    transform: scale(1.03);
}

.map-container h5 {
    color: white;
}

.map-container img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 9px;
    padding: 0.1rem;
}